@media only screen and (max-width: 1024px) {
    .what_we_do .d_flex_container article {
        max-width: 489px
    }
    .we_use .information {
        max-width: 478px;
        margin-left: 27px;
    }
    .clients_logo{
        justify-content: space-around;
    }
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media only screen and (max-width: 992px) {
    .what_we_do .d_flex_container article {
        max-width: 473px;
    }
    .we_use .information {
        max-width: 444px
    }
}
@media only screen and (max-width: 834px) {
    header nav li{
        margin-left: 0;
    }
    .main_banner{
        padding-bottom: 40%;
    }
    .what_we_do .d_flex_container article {
        max-width: 394px;
    }
    .we_use .information {
        max-width: 361px
    }
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media only screen and (max-width: 820px) {
    .what_we_do .d_flex_container article {
        max-width: 386px;
    }
}
@media only screen and (max-width: 800px) {
    .what_we_do .d_flex_container article {
        max-width: 376px;
    }
    footer ul:first-of-type{
        margin-left: 50px;
    }
    .social_media {
        max-width: 162px;
    }
    .main_banner {
        padding-bottom: 32%;
    }
}
@media only screen and (max-width: 768px){
    .nav-but-wrap{
        display: inline-block;
    }
    .nav {
        position: fixed;
        z-index: 98;
        left: 0;
        top: 0;
    }
    .nav__content {
        position: fixed;
        visibility: hidden;
        top: 50%;
        margin-top: 20px;
        -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
        width: 100%;
        text-align: center;
    }
    .nav__list-item {
        position: relative;
        display: block;
        -webkit-transition-delay: 0.8s;
        transition-delay: 0.8s;
        opacity: 0;
        text-align: center;
        color: #fff;
        overflow: hidden;
        font-family: 'Poppins', sans-serif;
        font-size: 8vh;
        font-weight: 900;
        line-height: 1.15;
        letter-spacing: 3px;
        -webkit-transform: translate(100px, 0%);
        transform: translate(100px, 0%);
        -webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
        transition: opacity .2s ease, -webkit-transform .3s ease;
        transition: opacity .2s ease, transform .3s ease;
        transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
        margin-top: 0;
        margin-bottom: 0;
    }

    .nav__list-item a {
        position: relative;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);
        overflow: hidden;
        cursor: pointer;
        padding-left: 5px;
        padding-right: 5px;
        font-weight: 900;
        z-index: 2;
        display: inline-block;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }
header nav ul{
    display: inherit;
}

    .nav__list-item a:hover:after {
        height: 4px;
        opacity: 1;
        left: 0;
        width: 100%;
    }
}
@media only screen and (max-width: 428px) {


    .main_banner {
        padding-bottom: 36%;
    }

    .d_flex_container {
        justify-content: center;
    }

    .we_use .banner_we_use {
        display: none;
    }

    .clients_logo {
        flex-direction: column;
    }

    .clients_logo a {
        padding-bottom: 40px;
    }

    footer .container {
        flex-direction: column;
    }

    footer .container p {
        margin-bottom: 40px;
    }
    footer ul:first-of-type {
        margin-left: inherit;
    }
    .clients_logo .owl-nav .owl-prev:after{
        display: none;
    }
    .clients_logo .owl-nav .owl-next:after{
        display: none;
    }
}
@media only screen and (max-width: 390px){
    .main_banner {
        padding-bottom: 50%;
    }
    .main_banner p{
        font-size: 12px;
    }
}
@media only screen and (max-width: 320px){
    .main_banner h1 {
        font-size: 49px;
    }
    .position_items{
        right: 9px;
    }
    .what_we_do .description p {
        font-size: 12px;
    }
    .feedback h4{
        font-size: 35px;
    }
    .btn_read_more {
        font-size: 13px;
    }
}